<div>
    <ul>
        <li>
    <tr class="navbar-nav flex-grow-1">
        <td class="nav-item">
            <a asp-controller="Tasks" asp-action="Create">Create Task</a>
        </td>
        <td class="nav-item">
            <a asp-controller="Categories" asp-action="Create">Create Categories</a>
        </td>
    </tr>
        </li>
        <li>
            <td class="nav-item">
            <a asp-controller="Tasks" asp-action="GetAllTasks">Get All Task</a>
            </td>
            <td class="nav-item">
                <a asp-controller="Categories" asp-action="GetAllCategories">Get All Categories</a>
            </td>
        </li>
    </ul>
</div>
