@model IEnumerable<ToDoApp.Models.Categories>

@{
    ViewData["Title"] = "Task Categories";
}

<h2>Task List</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Category Name</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Any())
        {
            @foreach (var category in Model)
            {
                <tr>
                    <td>@category.CategoryName</td>
                    <td>
                        <ul>
                            <li>
                                <form asp-controller="Categories" asp-action="Edit" asp-route-id="@category.Id" method="get">
                                    <button type="submit" class="btn btn-danger">Edit Category</button>
                                </form>
                            </li>
                            <li>
                                <form asp-controller="Categories" asp-action="Delete" asp-route-id="@category.Id" method="post">
                                    <button type="submit" class="btn btn-danger">Delete Category</button>
                                </form>
                            </li>
                        </ul>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="8">No Categories available.</td>
            </tr>
        }
    </tbody>
</table>
<div>
    <tr class="navbar-nav flex-grow-1">
        <td class="nav-item">
            <a asp-controller="Tasks" asp-action="Create" >Create Task</a>
        </td>
        <td class="nav-item">
            <a asp-controller="Categories" asp-action="Create">Create Categories</a>
        </td>
    </tr>

</div>
